#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
  display: flex;
  align-items: center;
}

header h1 {
  margin: 0;
}

header img {
  height: 3.2em;
  margin-right: 1em;
}

main {
  max-width: 800px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 0 auto;
}

@media (max-width: 600px) {
  main {
    width: 95vw;
  }
}