.input-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: white;
    width: calc(100% - 20px);
    background-color: #333;
}

.input-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.input-form > textarea {
    width: 82%;
    height: 100%;
    background-color: #333;
    color: white;
    border: none;
    resize: none;
    font-size: 1.2em;
}

.input-form > textarea:focus {
    outline: none;
}

.input-form > button {
  padding: 0.6em 1.2em;
  width: calc(18% - 0.6em);
}